# CodeIgniter 4

# Composer
/vendor/
/composer.lock

# Config local

# Logs e cache


# Environment files
.env

# IDEs
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
desktop.ini

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Misc
*.bak
*.swp
*.tmp
*.orig
